/* Component styles */
body {
    font-family: 'Lato', Arial, sans-serif;
    color: #7c8d87;
    background: #f8f8f8;
    font-style: normal;
    overflow-y: hidden;
    overflow-x: hidden;
}

.component {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 90%;
    max-width: 1000px;
}
.component .filler {
    font-family: "Blokk", Arial, sans-serif;
    color: #d3d3d3;
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
td.err {
    background-color: #e992b9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
    background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/* For appearance */

.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .125s ease-in-out;
    z-index: 50;
    width: auto; /* Prevent table from stretching to full size */
}
.sticky-wrap .sticky-thead {
    box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
    z-index: 100;
    width: 100%; /* Force stretch */
}
.sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150;

}
.sticky-wrap .sticky-intersect th {
    background-color: #666;
    color: #eee;
}
.sticky-wrap td,
.sticky-wrap th {
    box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
    text-transform: capitalize;
}
.sticky-wrap.overflow-y {
    overflow-y: hidden;
}

button {
    display: inline-block;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    position: relative;
}

.heading{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    font-size: 30px;
    width: 60%;
    height: 100%;
    float:left;
    position: relative;
}

.search {
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: right;
    float: right;
    margin-bottom: 10px;
    position: relative;
}

.header {
    text-align: center;
}

.search input {
    border: 2px solid lightgrey;
    padding: 14px;
}

.table_populator_wrapper{
    height: 50vh;
}
.controls {
    display: block;
    width: 100%;
    height: 10vh;
    top: 20vh;
    text-align: center;
    position: relative;
}


.container{
    margin: 5vh 5vw;
}

.footer{
    position: absolute;
    text-align: center;
    bottom: 4vh;
    width: 98vw;
}
.footer > span{
    font-size: 18px;
    color:rgb(255, 121, 198)
}

.name{
    border-bottom: 1px dotted;
    text-decoration: none;
    color: #7c8d87;
}

.popup-container a{
    background-color: rgba(129,208,177,.6);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.popup-container a[clicked]{
    background-color: rgb(49, 188, 134);
}
.popup-container{
    text-align: center;
}

.detailText{
    margin-top: 125px;
    width: 500px;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    display: inline-block;
}

.generalChart{
    margin-top: 20px;
    display: inline-block;
}

.evolutionChart{
    margin-top: 10px;
}

.detailText span{
    font-style: italic;
}

.invisible{
    display: none;
}

.legend{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    font-size: large;
}

.evolution-legend{
    margin-top: -30px;
}

.tab-content:not(.invisible){
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }

    to{
        opacity: 100;
    }
}

@keyframes fade-out {
    from{
        display: block;
        opacity: 100;
    }

    to{
        opacity: 0;
    }
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 20px;
    }
    100% {
        stroke-dashoffset: 0px;
    }
}

@keyframes width-pulse {
    0% {
        stroke-width: 6px
    }
    50% {
        stroke-width: 14px;
    }
    100% {
        stroke-width: 6px;
    }
}

.evolutionChart .ct-series .ct-line {
    stroke-width: 4px;
    stroke-dasharray: 10px 10px;
    animation: dashoffset 400ms infinite linear;
}

.evolutionChart .ct-point{
    animation: width-pulse 2s infinite;
}

/* styles for pagination buttons */
.paginate {
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    margin: auto;
    background: transparent;
}

#tooltip{
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.3);
    color: #eee;
    text-align: center;

    position: absolute;
    opacity: 1;
    z-index: 11;
}

#tooltip:not(.invis){
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 400ms;
}

#tooltip.invis{
    display: none;
    animation-name: fade-out;
    animation-duration: 400ms;
}

.paginate i {
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #31bc86;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease; }
.paginate.left {
    right: 58%; }
.paginate.left i {
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%; }
.paginate.left i:first-child {
    -webkit-transform: translate(0, -1px) rotate(40deg);
    -ms-transform: translate(0, -1px) rotate(40deg);
    transform: translate(0, -1px) rotate(40deg); }
.paginate.left i:last-child {
    -webkit-transform: translate(0, 1px) rotate(-40deg);
    -ms-transform: translate(0, 1px) rotate(-40deg);
    transform: translate(0, 1px) rotate(-40deg); }
.paginate.left:hover i:first-child {
    -webkit-transform: translate(0, -1px) rotate(30deg);
    -ms-transform: translate(0, -1px) rotate(30deg);
    transform: translate(0, -1px) rotate(30deg); }
.paginate.left:hover i:last-child {
    -webkit-transform: translate(0, 1px) rotate(-30deg);
    -ms-transform: translate(0, 1px) rotate(-30deg);
    transform: translate(0, 1px) rotate(-30deg); }
.paginate.left:active i:first-child {
    -webkit-transform: translate(1px, -1px) rotate(25deg);
    -ms-transform: translate(1px, -1px) rotate(25deg);
    transform: translate(1px, -1px) rotate(25deg); }
.paginate.left:active i:last-child {
    -webkit-transform: translate(1px, 1px) rotate(-25deg);
    -ms-transform: translate(1px, 1px) rotate(-25deg);
    transform: translate(1px, 1px) rotate(-25deg); }
.paginate.left[disabled=disabled] i:first-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg); }
.paginate.left[disabled=disabled] i:last-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg); }
.paginate.left[disabled=disabled]:hover i:first-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg); }
.paginate.left[disabled=disabled]:hover i:last-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg); }
.paginate.right {
    left: 58%; }
.paginate.right i {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
.paginate.right i:first-child {
    -webkit-transform: translate(0, 1px) rotate(40deg);
    -ms-transform: translate(0, 1px) rotate(40deg);
    transform: translate(0, 1px) rotate(40deg); }
.paginate.right i:last-child {
    -webkit-transform: translate(0, -1px) rotate(-40deg);
    -ms-transform: translate(0, -1px) rotate(-40deg);
    transform: translate(0, -1px) rotate(-40deg); }
.paginate.right:hover i:first-child {
    -webkit-transform: translate(0, 1px) rotate(30deg);
    -ms-transform: translate(0, 1px) rotate(30deg);
    transform: translate(0, 1px) rotate(30deg); }
.paginate.right:hover i:last-child {
    -webkit-transform: translate(0, -1px) rotate(-30deg);
    -ms-transform: translate(0, -1px) rotate(-30deg);
    transform: translate(0, -1px) rotate(-30deg); }
.paginate.right:active i:first-child {
    -webkit-transform: translate(1px, 1px) rotate(25deg);
    -ms-transform: translate(1px, 1px) rotate(25deg);
    transform: translate(1px, 1px) rotate(25deg); }
.paginate.right:active i:last-child {
    -webkit-transform: translate(1px, -1px) rotate(-25deg);
    -ms-transform: translate(1px, -1px) rotate(-25deg);
    transform: translate(1px, -1px) rotate(-25deg); }
.paginate.right[disabled=disabled] i:first-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg); }
.paginate.right[disabled=disabled] i:last-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg); }
.paginate.right[disabled=disabled]:hover i:first-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg); }
.paginate.right[disabled=disabled]:hover i:last-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg); }
.paginate[disabled=disabled] {
    opacity: 0.3;
    cursor: default; }